

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    position: relative;
}

html, body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }


.page {
    color: rgb(8, 16, 239);

    
}